<form method="GET" action="/quizes/<%= quiz.id %>/answer">
	<p>Pregunta: <%= quiz.pregunta%></p>
	<input type="text" name="respuesta" placeholder="Responde aquí">
	<input type="submit" name="Enviar" value="Enviar">
	<input type="hidden" name="fallos" value="<%=fallos%>">
</form>

<%if(fallos!=0){%><p>Pista: <%if(fallos<quiz.respuesta.length){for(var i=0;i<fallos;i++){%> <%=quiz.respuesta[i]%> <%}}else{%><%=quiz.respuesta%> <%}}%></p>